{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
  #GraficosTablas{
    display: none; /* Se oculta por defecto y se muestra con JS */
  }
</style>
{% endblock %}

{% block page_title %}
    <div class="col-sm-6">
        <h1 class="m-0">Dashboard</h1>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block contenidos %}
    <div class="container">
        {# Sección para el Dashboard de Ventas (Perfil 06) #}
        {% if codigo_perfil == '06' %}
            <div class="row">
                <div class="col-12">
                    <h3 class="mb-3">??</h3>
                    <p>Bienvenido/a, <strong id="teacherName">{{ nombre_personal }}</strong></p>
                </div>
            </div>


        {% else %}
        {# Contenido para perfiles generales (01, 04, 05, etc.) #}
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">??</h3>
                <p>Bienvenido/a, <strong id="AdminName">{{ nombre_personal }}</strong></p>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="js/plugins/chart.js/Chart.min.js"></script>

    <script>
      $(document).ready(function () { 
        $(document).ajaxStop(function () { $('#myModal').modal('hide'); });
        $(document).ajaxError(function () { $('#myModal').modal('hide'); });   
      });
      const Toast = Swal.mixin({
          toast: true, position: 'top-end', showConfirmButton: false, timer: 3000, timerProgressBar: true,
          didOpen: (toast) => { toast.addEventListener('mouseenter', Swal.stopTimer); toast.addEventListener('mouseleave', Swal.resumeTimer); }
      });
    </script>

    {% if codigo_perfil == '06' %}
        
    {% else %}
        {# Script para el dashboard general con correcciones #}
        
    {% endif %}

{% endblock %}